<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sapling">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sapling_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sapling_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sapling">
        <activity android:name=".WaitForPlayersActivity"></activity>
        <activity android:name=".NumPlayerActivity" />
        <activity android:name=".RoomsActivity" />
        <activity android:name=".MultiplayerActivity" />
        <activity android:name=".AnswerQuestionsActivity" />
        <activity android:name=".EditQuestions" />
        <activity android:name=".DisplayQuestionsActivity" />
        <activity android:name=".AddQuestionsActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".ScienceCategory" />
        <activity android:name=".TechCategory" />
        <activity android:name=".EngrCategory" />
        <activity android:name=".MathCategory" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>